PlantPlaces/WebContent/wsdl/PlantWSService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ui.plantplaces.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ui.plantplaces.com" xmlns:intf="http://ui.plantplaces.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ui.plantplaces.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="fetchPlants">
    <complexType>
     <sequence>
      <element name="plant" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="fetchPlantsResponse">
    <complexType>
     <sequence>
      <element name="fetchPlantsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="fetchPlantsResponse">

      <wsdl:part element="impl:fetchPlantsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="fetchPlantsRequest">

      <wsdl:part element="impl:fetchPlants" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="PlantWSService">

      <wsdl:operation name="fetchPlants">

         <wsdl:input message="impl:fetchPlantsRequest" name="fetchPlantsRequest">

       </wsdl:input>

         <wsdl:output message="impl:fetchPlantsResponse" name="fetchPlantsResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="PlantWSServiceSoapBinding" type="impl:PlantWSService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="fetchPlants">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="fetchPlantsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="fetchPlantsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="PlantWSServiceService">

      <wsdl:port binding="impl:PlantWSServiceSoapBinding" name="PlantWSService">

         <wsdlsoap:address location="http://localhost:8080/PlantPlaces/services/PlantWSService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
